<nav class="navbar navbar-expand-lg bg-body-white">
  <div class="container px-2">
    <img src="../../assets/img/Frame 35592.svg" routerLink="/landingpage" />
    <a class="navbar-brand px-2 at" href="#">Atlas</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll px-5"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active top" aria-current="page" href="#">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active top" href="#">Savings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active top" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active top" href="#">Why Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active top" href="#">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <li class="nav-item px-3 py-2" style="list-style-type: none">
          <a class="nav-link active noww" href="#">Login</a>
        </li>

        <button
          class="btn btn-outline gate now"
          style="background: #1cbbce"
          type="submit"
        >
          Create Account
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-7 order-sm-first">
      <h3 class="gate way">
        Your gateway to a <span class="span">new era</span> of<br />
        <span class="span">financial</span> empowerment
      </h3>
      <p class="gated">
        Discover how our comprehensive range of services can elevate your<br />
        financial journey and help you achieve your goals.
      </p>
      <div class="row row-section mb-4">
        <div class="col-4 col-md-3">
         <a href="#"><img src="../../assets/img/Frame 6.svg" /></a>
        </div>
        <div class="col-4 col-md-3">
          <a href="#"><img src="../../assets/img/Frame 7.svg" /></a>
        </div>
        <div class="col col-md-4 col-sm-4"></div>
      </div>
      <div class="">
        <img src="../../assets/img/Star 1.svg" />
        <p class="gator">
          Various kind of feature variance that can help <br />
          you grow financially
        </p>
      </div>
    </div>
    <div class="col-12 col-md-5 order-sm-last py-4">
      <img
        src="../../assets/img/Frame 427320134.svg"
        class="img-fluid std"
        alt="Responsive image"
      />
    </div>
  </div>

  <div class="card canter pad__me">
    <h5 class="text mt-2 mb-4 gator">Put your money to work</h5>
    <div class="row">
      <div class="col-12 col-md-4 col-sm-12">
        <div class="card-body">
          <img src="../../assets/img/Frame 408.svg" alt="icon" /> <br />
          <br />
          <h5 class="card-title gate sani">Set Clear Financial Goals</h5>
          <p class="card-text gated be">
            Be specific and realistic about your<br />
            objectives, whether it's saving a certain amount per month, reaching
            a specific milestone, or creating an emergency fund.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-sm-12">
        <div class="card-body">
          <img src="../../assets/img/Frame 408.svg" alt="icon" /> <br />
          <br />
          <h5 class="card-title gate sani">Set Clear Financial Goals</h5>
          <p class="card-text gated be">
            Be specific and realistic about your<br />
            objectives, whether it's saving a certain amount per month, reaching
            a specific milestone, or creating an emergency fund.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-sm-12">
        <div class="card-body">
          <img src="../../assets/img/Frame 408.svg" alt="icon" /> <br />
          <br />
          <h5 class="card-title gate sani">Set Clear Financial Goals</h5>
          <p class="card-text gated be">
            Be specific and realistic about your<br />
            objectives, whether it's saving a certain amount per month, reaching
            a specific milestone, or creating an emergency fund.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-5">
      <img src="../../assets/img/Frame 427320023.svg" class="img-fluid mage" />
    </div>
    <div class="col-12 col-md-7 mt-5">
      <p class="gator pop">Open your account from anywhere in the world</p>
      <h1 class="gate solulu">
        Solution for every <br />
        business needs
      </h1>
      <p class="gator be">
        Power up your business with our full-stack online bank account that fits
        your needs
      </p>
      <div class="row xry">
        <div class="col">
          <div class="flexin">
            <img src="../../assets/img/icn.svg" alt="image" />
            <span class="gate pzna">Personal Account</span>
          </div>
          <div>
            <p class="gated be">
              Empowering financial well-being by managing your finances, track
              transactions, and <br />
              strive towards financial growth with our personal account setup.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="flexin">
            <img src="../../assets/img/icn.svg" alt="image" />
            <span class="gate pzna">Side Hustle Account</span>
          </div>
          <div>
            <p class="gated be">
              Empowering financial well-being by managing your finances, track
              transactions, and <br />
              strive towards financial growth with our personal account setup.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="flexin">
            <img src="../../assets/img/icn.svg" alt="image" />
            <span class="gate pzna">Business Account</span>
          </div>
          <div>
            <p class="gated be">
              Empowering financial well-being by managing your finances, track
              transactions, and <br />
              strive towards financial growth with our personal account setup.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-y">
    <div class="col-12 col-md-6 mt-1 flix">
      <div><p class="gator penny">Make each penny count</p></div>
      <div>
        <h3 class="blk">
          Save smarter<br />
          Grow faster
        </h3>
        <br />
        <p class="gated be">
          Explore all our savings option and create the future you desire.
          <br />
          The opportunity is at your doorstep
        </p>
      </div>
      <br />
      <button
        class="btn btn-outline px-4 py-2 gate now"
        style="background: #1cbbce"
        type="submit"
      >
        Get Started
      </button>
    </div>
    <div class="col-12 col-md-6">
      <div class="card host mt-4">
        <div class="container mt-5 px-5">
          <div class="card ty w-80 mb-3">
            <div class="card-body">
              <div class="flexella">
                <img src="../../assets/img/vault lock icon.svg" />
                <div>
                  <h6 class="card-title gate lk">Vault Lock</h6>
                  <p class="gated be">
                    Securely lock your money and watch your savings grow with
                    disciplinary methods
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card ty w-80 mb-3">
            <div class="card-body">
              <div class="flexella">
                <img src="../../assets/img/Frame 427320040 (1).svg" />
                <div>
                  <h6 class="card-title gate lk">
                    Target Savings
                    <!-- <span class="card-text percent px-5">12%</span> -->
                  </h6>
                  <p class="gated be">
                    Aim high and save strategically by staying focused on your
                    financial targets
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card ty w-80 mb-3">
            <div class="card-body">
              <div class="flexella">
                <img src="../../assets/img/Frame 427320040.svg" />
                <div>
                  <h6 class="card-title gate lk">Rent Plus Savings</h6>
                  <p class="gated be">
                    Save smart and save for your dream house. Don`t wait till
                    you are chsed
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card ty w-80 mb-3">
            <div class="card-body">
              <div class="flexella">
                <img src="../../assets/img/little drops.svg" />
                <div>
                  <h6 class="card-title gate lk">Little Drop Savings</h6>
                  <p class="gated be">
                    Make every penny count and be prepared for the unexpected.
                    Save yourself
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="text-center fs-5 gator ft">Features</p>
    <h5 class="gate ap">
      Atlas, One App <br />
      thousands benefits
    </h5>
    <p class="fs-6 gated be">
      Power up your business with our full-stack online bank account that fits
      your needs
    </p>
  </div>

  <div class="row row-multiples">
    <div class="col-12 col-md-3">
      <div class="flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Multiple Accounts Setup</span>
      </div>
      <ul class="gated be">
        <li>Personal accounts</li>
        <li>Side Hustle accounts</li>
        <li>Personal accounts</li>
      </ul>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Accessibility to Loan</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Business Registration</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Send & Receive money</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Become an Agent</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Income & Expense Tracker</span>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img
        src="../../assets/img/phone.svg"
        class="img-fluid phone"
        alt="responsive image"
      />
    </div>
    <div class="col-12 col-md-3 py-3">
      <div class="flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Various Savings Choice</span>
      </div>
      <ul class="gated be">
        <li>Vault Lock Savings</li>
        <li>Target Savings</li>
        <li>Rent Plus Savings</li>
        <li>Little Drop Savings</li>
      </ul>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Investments</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Bills Payment</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Find or create jobs</span>
      </div>
      <div class="mb-4 flexin">
        <img src="../../assets/img/tick.svg" />
        <span class="gator gatee">Sell your products on Saleko</span>
      </div>
    </div>
  </div>

  <div class="row row-fine">
    <div class="col-12 col-md-6">
      <img
        src="../../assets/img/fine guy dot.svg"
        class="img-fluid fine"
        alt="fine-guy"
      />
    </div>
    <div class="col-12 col-md-6 mg">
      <div class="mt-5">
        <p class="fs-6 gator ft">Why Choose Atlas?</p>
        <h5 class="gate blk">
          The World At <br />
          Your Fingertips
        </h5>
        <p class="gated be">Sign up and see the future from now</p>
      </div>
      <div class="flexums">
        <div class="card kardi" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-title gator lk">Peace of Mind</h6>
            <p class="card-text gated be">
              Securely lock your money and watch your savings grow with
              disciplinary methods
            </p>
          </div>
        </div>
        <div class="card kardi" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-title gator lk">Business Ready</h6>
            <p class="card-text gated be">
              Securely lock your money and watch your savings grow with
              disciplinary methods
            </p>
          </div>
        </div>
      </div>
      <div class="flexums">
        <div class="card kardi" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-title gator lk">100% Transparent</h6>
            <p class="card-text gated be">
              Securely lock your money and watch your savings grow with
              disciplinary methods
            </p>
          </div>
        </div>
        <div class="card kardi" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-title gator lk">100% Free</h6>
            <p class="card-text gated be">
              Securely lock your money and watch your savings grow with
              disciplinary methods
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body cano">
    <div class="container">
      <div class="row row-last">
        <div class="col-12 col-md-6 mt-5 px-4">
          <div>
            <h3 class="ungaton">
              Take your<br />
              financial situation<br />
              to the next level!
            </h3>
            <p class="gator dscv">
              Discover how our comprehensive range of services can elevate<br />
              your financial journey and help you achieve your goals.
            </p>
          </div>
          <br />
          <div class="row row-section mb-4">
            <div class="col col-md-4 -sm-4">
              <a href="#" ><img src="../../assets/img/Frame 6.svg"/></a>
            </div>
            <div class="col col-md-4 col-sm-4">
              <a href="#" ><img src="../../assets/img/Frame 7.svg" href="#"/></a>
            </div>
            <div class="col col-md-4 col-sm-4"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img
            src="../../assets/img/Triple phone mockup 2.svg"
            class="img-fluid date"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row row-atlass">
        <div class="col-12 col-md-6">
          <img src="../../assets/img/Logo.svg" class="img-fluid mb-2" routerLink="/landingpage" /> 
         <br> <p class="whoweare">
            We are Atlas, more than a credit card<br />
            that can help you with your payment
          </p>
        </div>
        <div class="col-12 col-md-4">
          <p class="fs-5 abeg">Get Connected</p>
          <p class="abeg whoweare">Your email address...</p>
        </div>
        <div class="col-12 col-md-2">
          <br />
          <img src="../../assets/img/Group 61.svg" />
        </div>
      </div>
      <div class="row ride">
        <div class="col-12 col-md-6 whoweare">
          &copy; Atlas - All Rights Reserved 2023
        </div>
        <div class="col-12 col-md-3 whoweare">
          <a class="whoweare" routerLink="/termsncondition">Terms and Condition</a>
        </div>
        <div class="col-12 col-md-3 whoweare">
          <a class="whoweare" routerLink="/homepage">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
