
* {
    font-family: 'Nunito';
}

  .navbar {
    width: 1262px;
  }

  .bg-transparent {
    background: #ffffff;
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  }

  div.atlas_logo {
    display:grid;
    grid-template-columns: 4rem 4rem;
  }

  @media (max-width:768px) {
    .navbar {
      width:390px;
    }
  }


