<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
      <a class="navbar-brand"> 
        <div class="atlas_logo">
            <img src="./assets/img/atlas-logo.svg" alt="" />
            <span class="container mt-2 ">Atlas</span>
          </div>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ms-auto side_view">
            <h5>Terms and Condition</h5>
          </div>
      </div>
    </div> 
  </nav>

  <main>
    <div class="bg-body-tertiary p-5">
        <h2>Terms and Condition</h2>
      </div>

      <div class="container mt-5">
        <section>
            <p>
                <strong> Atlas is committed to maintaining robust privacy protections for its
                 users.</strong>
                 <br />
                 Our Privacy Policy (“Privacy Policy”) is designed to help Lorem
                 ipsum dolor sit amet consectetur adipisicing elit. Sequi animi, rem
                 veniam minus quibusdam at quos dignissimos cupiditate facilis, vitae
                 cumque! Inventore id est nesciunt fuga voluptates dicta pariatur
                 deleniti!
               </p>

               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quaerat
               nam a perferendis harum, eos maiores. Harum illum nihil error
               molestiae quis voluptate quo ex alias expedita. Laboriosam,
               repellendus! Quam?
               <br>

               Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
               labore accusantium at recusandae sit, exercitationem asperiores odio
               quas accusamus rem consectetur ducimus magni fugit dolor eveniet?
               Amet, non? Illum, sequi.
               <br>
               
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
               mollitia, ea recusandae consequuntur asperiores numquam eius omnis
               rerum unde deleniti ipsam iste tempore animi exercitationem laborum
               placeat ratione pariatur in! Lorem, ipsum dolor sit amet consectetur
               adipisicing elit. Id deserunt non, quidem rem veritatis quam cum
               explicabo, iusto magni ipsa eos facere. Quibusdam porro tempore
               quisquam sunt odit temporibus fugiat.
               <br>
               <br>
               <strong>I. Lorem ipsum dolor,</strong>
               <br>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
               voluptate dignissimos similique nihil minus maiores qui porro,
               accusamus laboriosam quidem expedita assumenda, doloremque dolore
               saepe beatae temporibus consectetur repudiandae a. Lorem ipsum dolor
               sit amet, consectetur adipisicing elit. Vel eaque, totam, vero id
               doloribus obcaecati, delectus veniam ducimus magnam animi sunt neque
               aperiam saepe qui earum asperiores suscipit exercitationem eum? Lorem
               ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quas
               doloremque, nostrum vel beatae a, molestias laudantium odit quia
               necessitatibus aliquam eveniet voluptatum sapiente? Asperiores
               laudantium natus nam perferendis rerum!
               <br>
               <strong>1. Lorem ipsum dolom, optio veniam?</strong>
               <br>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe
               dolorum dignissimos ipsa quod vero natus alias dolor esse at sint
               cupiditate amet expedita culpa, rem repellat, corrupti autem aliquam
               quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
               quos maiores, mollitia iusto doloribus nisi labore laborum tempora
               repudiandae nam unde rem temporibus dicta perspiciatis sit nemo
               tenetur officiis enim. Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Qui nihil atque maiores, dolores ducimus soluta
               porro numquam eius nesciunt esse totam ex veritatis, tempore accusamus
               nostrum quae maxime cumque placeat. Lorem ipsum dolor sit amet
               consectetur adipisicing elit. Reprehenderit laboriosam quaerat fugiat
               commodi id rem voluptas pariatur repudiandae tenetur et vel optio
               repellat dolor, nam soluta ipsam, ad minima dolorum. Lorem ipsum dolor
               sit amet consectetur adipisicing elit. Soluta eius quae voluptas ipsam
               dolorum, laboriosam minus aspernatur ipsum suscipit modi officiis
               illum reiciendis itaque exercitationem! Velit voluptas magni earum
               libero?
               <br>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
               commodi voluptatibus asperiores officia. Laborum, saepe! Debitis
               pariatur nemo, iste soluta aut rerum illo velit natus eum, repellat
               quas quasi hic. Lorem ipsum, dolor sit amet consectetur adipisicing
               elit. Sed, delectus officia? Mollitia tempora et rerum error eligendi
               odit. Deleniti blanditiis, similique numquam eaque laudantium soluta.
               Nostrum perspiciatis aspernatur inventore autem.   
               <br>
               For example, Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Repudiandae beatae eius quam maxime molestias. Expedita reprehenderit,
               voluptas, repudiandae tempore temporibus rem in nisi dolore culpa ex
               repellat obcaecati pariatur fugit. Lorem, ipsum dolor sit amet
               consectetur adipisicing elit. Veniam harum ex ad cumque tenetur neque
               officia nesciunt, consectetur aut, inventore est laboriosam beatae
               perspiciatis quidem suscipit a debitis. Ullam, corrupti? Lorem ipsum
               dolor sit amet consectetur adipisicing elit. Consectetur similique,
               illo, eos reprehenderit eveniet fugiat aliquam dolorem, rem magnam
               doloribus molestias nisi provident deleniti. Quidem modi perferendis
               sapiente eius iste? Lorem ipsum dolor sit amet consectetur adipisicing
               elit. Facere consequuntur quibusdam architecto voluptatem fuga,
               sapiente voluptatibus nulla recusandae temporibus sunt itaque dolor,
               reiciendis quasi debitis ut voluptatum suscipit deserunt explicabo.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
               itaque beatae, minima facilis voluptates deserunt a quasi amet
               eligendi, dignissimos numquam unde nam temporibus officiis natus
               ratione consequuntur quam repudiandae!
               <br>
               <strong>2. Quod, doloremque.</strong>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
               iste error illo ab animi provident quasi quae. Commodi harum numquam
      est in pariatur? Harum perspiciatis nobis amet non iusto minus. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Vero deleniti
      obcaecati aspernatur saepe vitae architecto optio quo hic non?
      Maiores, at nam! Totam praesentium reprehenderit, architecto
      voluptates facilis voluptatem excepturi. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Veniam repudiandae minus quam ea
      corporis quis vitae odit hic cum, minima exercitationem labore
      voluptas et sint repellat nobis velit consequatur soluta. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Officiis ipsam nostrum
      corporis amet fuga? Placeat labore in, ipsum numquam voluptatibus
      reprehenderit iure sapiente molestiae eius magnam reiciendis obcaecati
      suscipit exercitationem! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea molestias beatae ex cum voluptatibus aperiam odit
      provident velit pariatur repellat sit nulla vel omnis saepe corporis
      aliquam, porro excepturi quas! Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Quae, facere molestiae sapiente laudantium aperiam,
      id aliquid recusandae odio, eos delectus cum. Voluptatem rerum eum
      provident fugiat qui exercitationem sapiente commodi? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Tempora voluptatem
      inventore iste praesentium voluptatum saepe, recusandae, magni optio
      at dolor, consequatur incidunt odio ad eveniet fugit voluptatibus eos.
      Dolor, consectetur. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Neque quam alias illo, quod quisquam eligendi
      aspernatur odit ratione quaerat labore reiciendis, nulla officiis
      amet, corrupti et consequatur tenetur iste libero.
          <br>
          <strong>3. Labore perspiciatis voluptatem ullam?</strong>
          <br>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam qui
      libero magnam, neque eum, suscipit possimus eos debitis, earum
      corporis a veritatis velit ab unde amet dicta incidunt reiciendis
      quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
      perferendis! A mollitia ad error aliquid rem illo id magnam eligendi
      nobis libero! Quos architecto dolorem sunt totam corporis doloribus
      velit?Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Tenetur, exercitationem magni inventore officiis nobis ut est
      recusandae eos delectus dolorum accusamus quasi modi harum. Dolores
      molestias placeat laborum nulla veniam. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nihil sunt rerum voluptatem in aut
      harum, laboriosam cupiditate tenetur impedit labore debitis veritatis
      nisi minima repellat quam animi corporis, eligendi placeat!locationlo
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id nam
      unde voluptate minima iste incidunt? Ratione assumenda illum omnis
      provident, temporibus, possimus velit eius exercitationem, neque ipsa
      in enim!location
           <br>
           <strong>II. Porro veritatis incidunt veniam repellat sint.</strong>
           <br>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
      quisquam, porro laudantium adipisci sequi fuga commodi dolore nulla
      atque. Tempora, nesciunt deleniti! Magni, hic! Modi maiores expedita
      ea sequi ut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ab earum exercitationem sit voluptatum eaque, delectus corrupti
      expedita sapiente aperiam fuga, eligendi totam! Mollitia fugiat
      laudantium quae nisi rerum repellendus nobis! Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Minima explicabo veniam voluptas
      id, quia reprehenderit doloribus temporibus iure odit? Tenetur
      explicabo cupiditate esse quasi aperiam ducimus nam quisquam iste
      placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Asperiores sit ea dolor obcaecati cupiditate excepturi explicabo
      aperiam, labore ducimus! Mollitia quod repudiandae animi neque illum
      iure consectetur odit, magnam quos. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Explicabo, sed error porro ad fuga natus
      beatae corrupti quaerat illo tenetur possimus et accusamus dolorem
      sint. Excepturi quisquam repellat ipsam laudantium? Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Neque praesentium beatae velit
      consequuntur accusantium quisquam, eum sequi nulla eveniet odio illum
      iusto sed numquam, tempore laudantium atque. Numquam, iste! Aliquam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
      excepturi fugit ex quam alias corrupti repellendus accusamus non
      voluptatem animi debitis vel corporis, repellat harum a dolore
      veritatis, quasi cupiditate? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Optio labore, ratione id omnis rerum blanditiis,
      assumenda voluptate error enim minus asperiores cum magnam architecto
      impedit dolorum amet? Sed, quae architecto!.
      <br>
        </section>
      </div>
  </main>





